/* Resetting default styles */
body,html {
    font-size: 30px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 248, 210);
}

/* General styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,h2,h3,p {
    text-align: center;
    margin-bottom: 20px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    font-size: 30px;
    color: blue;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}

.titleCard {
    color: rgb(111, 235, 252);
}

#Movie h2 {
    color: red;
}

#Action h3{
    color: darkorange;
}

#Adventure h3{
    color:blueviolet;
}

#Comedy h3{
    color: goldenrod;
}

#Drama h3{
    color: plum;
}

#Horror h3{
    color: crimson;
}

#Mystery h3{
    color: darkblue;
}

#Romance h3{
    color: pink;
}

#Science_Fiction h3{
    color: orangered;
}

#Sports h3{
    color: mediumslateblue;
}

#Thriller h3{
    color: chartreuse;
}
